@import url(https://fonts.googleapis.com/css?family=Lato);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, h1, h2, h3, h4, h5, li, div, button, a, Link {
  font-family: 'Lato', sans-serif;
}

.blue {
  background: #F0FBFD;
  color: #83CBDC;
}

.green {
  color: #85C654;
}

.no-margin {
  margin: 0px;
}

.bold {
  font-weight: bolder;
}

#app {
  font-size: 14px;
}

a.active {
  color: #F56400;
}

nav {
  height: 44px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;

}

nav a:hover {
  text-decoration: none;
}

nav a:visited {
  text-decoration: none;
}

nav Link:hover {
  text-decoration: none;
}

.header-logo {
  font-size: 30px;
  font-family: serif;
  color: #F56400;
}

.header-logo:hover {
  color: #F56400;
}

.header-register-button {
  background: none;
  border: none;
  color: #0195BE;
}

.header-signin-button {
  background: none;
  border: solid .5px #0195BE;
  color: #0195BE;
  border-radius: 2px;
  height: 32px;
  width: 65px;
}

.header-signin-button:hover {
  background: lightcyan;
}

.header-option-large {
  display: none;
  color: #666666;
  font-size: 14px;
}

.header-logo-large {
  display: none;
}

.header-icon-holder {
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}

.header-individual-option-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  display: flex;
  align-items: center;
  height: 100%;
  float: right;
  margin-left: 18px;
}


.nav-img {
  height: 26px;
  border: solid lightgray .5px;
}

.header-top {
}

.circle {
  border-radius: 50%;
}

.glyphicon {
  font-size: 20px;
  color: #666666;
}

.sub-header {
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  padding: 3px;

}



/*Home Page Styles*/
.homepage-main-body {
  background: #F5F5F1;
}

.banner-container {
  height: 152px;
  width: 100vw;
  background: url('https://img1.etsystatic.com/site-assets/vesta-homepage-headers-v3/saressadesigns_249056175_2020x335.jpg') no-repeat center;

}

.banner-img {
  height: 100%;
}

.search-bar-container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-input {
  height: 37px;
  width: 280px;
  border: solid lightgrey 1px;
  border-radius: 3px 0px 0px 3px;
  padding-left: 10px;
  font-size: 16px;
}

.search-button {
  height: 37px;
  width: 75px;
  background: #F56400;
  color: #FFF;
  border:none;
  border-radius: 0px 3px 3px 0px;
  font-size: 15px;
}

.category-holder {
  margin: auto;
  width: 95%;
  border-radius: 4px;
}

.category-box{
  background: #fff;
  height: 46px;
  border: solid lightgrey .5px;
  position: relative;
}

.category-pieces {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category-img {
  display: none;
}

.category-box:hover {
  background: lightgrey;
}

.category-icon {
  margin-right: 10px;
}

.category-text {
  margin-top: auto;
  margin-bottom: auto;
  color: #524452;
}

.category-arrow {
  position: absolute;
  right: 5px;
  top: 12px;
}

.glyphicon-chevron-right {
  font-size: 14px;
}


/* Shop owner admin functions */
.manage-product-user-screen {
  background: #F5F5F1;
  text-align: center;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.manage-product-user-screen h3 {

  margin: 0px;
}

.product-holder-admin {
  margin: auto;
  width: 95%;
  background: #FFF;
  padding: 10px;
  border: solid lightgrey .2px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-box-admin {
  height: 250px;
  width: 170px;
  border: solid lightgrey .2px;
  border-radius: 3px;
  margin-bottom: 10px;
  position: relative;
}

.product-img-holder-admin {
  height: 165px;
  width: 98%;
  margin: auto;
}

.product-img-holder-admin img {
  width: 100%;
  max-height: 165px;
}

.product-info-holder-admin {
  height: 45%;
}

.product-admin-options {
  height: 45px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: solid lightgrey .2px;
  position: absolute;
  bottom: 0px;
}

.product-admin-option-single {
  width: 50%;
  height: 100%;
}



.create-product {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pointer:hover{
  cursor: pointer;
}

.user-logged-in{
  display: none;
}

/* Shopper Product Styles */

.product-holder-shopping {
  margin: auto;
  width: 95%;
  background: #FFF;
  padding: 10px;
  border: solid lightgrey .2px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-box-shopping {
  height: 250px;
  width: 250px;
  border: solid lightgrey .2px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.product-img-holder-shopping {
  height: 186px;
  width: 98%;
  margin: auto;
}

.product-img-holder-shopping img {
  max-height: 186px;
  width: 100%;
}

.product-info-holder-shopping {
  height: 45%;
}


/*  Product details page styles  */
.details-page-favorite-box {
  background: #E5F4F7;
  height: 71px;
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.details-page-favorite-box p {
  margin: 0px;
}

.details-page-favorite-button{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  border-radius: 2px;
  border: .2px solid lightgrey;
  width: 90px;
  height: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.bold-question{
  margin: 0px;
  font-size: 18px;
}

.fav-button {
  font-size: 16px;
  margin-right: 5px;
  color: #CBC9C7;
}

.details-page-img-holder {
  margin:auto;
  width: 95%;
}

.details-page-img-holder img {
  width: 100%;
}

.details-page-product-details {
  width: 95%;
  border: solid 8px #E4F3D9;
  border-radius: 5px;
  margin:auto;
}

.details-page-product-info {

  padding: 5px;

}

.product-details-title {
  font-size: 20px;
  font-weight: bolder;
}

.product-details-price {
  font-size: 18px;
}

.product-details-btn-holder{
  border-top: solid 8px #E4F3D9;
}

.add-to-cart-btn {
  width: 100%;
  height: 33px;
  border-radius: 2px;
  background: #7AC142;
  margin: 0px;
  color: #fff;
  border: solid .3px #6EAE3C;
}


/* Shopping Cart page styles */
.cart-user-page{
  width: 100%;
}

.cart-items-holder {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-individual-item-holder {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.cart-img-holder {
  width: 30%;
}

.cart-img-holder img {
  width: 100%;
}

.cart-item-desc {
  width: 30%;
}

.cart-quantity {
  width:20%;
}

.cart-price {
  width: 20%;
  text-align: right;
}


/* This is for my product form styles */
.product-form {
  background: #F5F5F1;
  padding: 12px;
  width: 100%;
}

.product-form-options-holder {
  background: #fff;
  padding: 10px;
  margin: auto;
  border: solid .5px lightgrey;
  border-radius: .2px;

}

.form-standards {
  width: 350px;
  height: 30px;
}

.form-half-width {
  width: 175px;
}

.form-btn-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-cancel-btn {
  height: 38px;
  width: 75px;
  background: #fff;
  border: solid .5px lightgrey;
  border-radius: 3px;
  color: #444444;
  margin-right: 10px;
}

.form-save-btn {
  height: 38px;
  width: 270px;
  border: solid .5px lightgrey;
  border-radius: 3px;
  background: #34A8C4;
  color: #fff;
}

/* This is my manage user form styles */

.manage-user-form {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  background: #F5F5F1;
}

.manage-user-options {
  padding: 15px;
  width: 75%;
  margin:auto;
  background: #fff;
}

.register-form-standard {
  width: 230px;
  height: 30px;
}

.register-form-save-btn {
  width: 230px;
  height: 35px;
  background: #34A8C4;
  color: #fff;
  border: solid .5px lightgrey;
  border-radius: 3px;
}



/* Media Queries */
@media (min-width: 421px) {
  .header-logo-large {
    display: inline-block;
  }
  .header-logo {
    margin-top: 150px;
  }
  nav {
    height: 62px;

  }
}

@media (min-width: 480px) {
  .banner-container{
    height: 200px;
  }

  .category-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .category-small {
    display: none;
  }
  .category-box{
    width: 160px;
    height: 160px;
    margin-bottom: 15px;

  }

  .category-img {
    height: 75%;
    width: 100%;
    display: inline-block;
  }

  .category-img img {
    max-height: 100%;
    width: 100%;
  }

  .category-pieces {
    margin-left: 10px;
  }
}

@media (min-width: 640px) {
  .banner-container{
    height: 225px;
  }
  .category-box{
    width: 225px;
    height: 225px;
    margin-bottom: 15px;

  }
}

@media (min-width: 900px) {
  nav {
    height: 82px;
    padding-left: 30px;
    padding-right: 50px;

  }
  .header-logo {
    font-size: 42px;
  }

  .banner-container{
    height: 278px;
  }
  .category-box{
    width: 130px;
    height: 140px;
    margin-bottom: 15px;

  }
  .header-individual-option-holder {
    border-left: solid .5px lightgrey;
    padding-left: 18px;
  }
}

@media (min-width: 766px){
  .header-option-large {
    display: inline-block;
  }
}

@media (min-width: 1680px) {
  .banner-container{
    height: 330px;
  }
}